{% extends "base.html" %}

{% block content %}
    <title>{{ title }} - our game</title>
</head>
<body>
    <section>
    <h1> Rock, Paper, Scissors!</h1>
    <div>
        <h4> player 1:</h4>
        <form action = "/" method = "post">
            <label for = "choice1">Choice</label> 
            <input type = "text" name = "choice1" class = "choice">
       

        <h4> player 2:</h4>
        <form action = "/" method = "post">
            <label for = "choice2">Choice</label> 
            <input type = "text" name = "choice2" class= "choice">
            <input type = "submit" value = add_choice>
    </form>
    <h4>player 1 chose : {{choice1}}</h4>
    <h4>player 2 chose : {{choice2}}</h4>
    </div>
    <div>        
       <h1><b>{{victor}}</b></h1>
    </div>
    </section>
</body>
{% endblock %}
