{% extends "base.html" %}

{% block content %}
<h1> Welcome to Games for Gamers!</h1>

<body>
    <h3> Rock, Paper, Scissors</h3>
    <h5>Rules of the game!</h4>
        <ol>
            <li>You don't talk about the rock, paper, scissors, game</li>
            <li>YOU DON'T TALK ABOUT THE ROCK, PAPER, SCISSORS GAME!!!!!</li>
            <li>There can only be one winner!</li>
            <li>Rock beats scissors!</li>
            <li>Scissors beats paper!</li>
            <li>Paper beats rock!</li>
            <li>Bazooka beats.....THERE IS NO BAZOOKA!!!!!</li>
            <li>If both players choices are the same the result is NONE!</li>
         </ol>
         <br>
         <p><a href="http://127.0.0.1:5000/game">Click here</a> to play the game</p>
    </h5>
</body>
{% endblock %}